
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store

# Gradle files
.gradle/
build/

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Intellij
*.iml

# Keystore files
*.jks