<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kreal.sdf" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="be.ppareit.swiftp.FsApp"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="be.ppareit.swiftp.FsService" />
        <receiver
            android:name="be.ppareit.swiftp.RequestStartStopReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="be.ppareit.swiftp.ACTION_START_FTPSERVER" />
                <action android:name="be.ppareit.swiftp.ACTION_STOP_FTPSERVER" />
            </intent-filter>
        </receiver>

        <service android:name="be.ppareit.swiftp.NsdService" />
        <receiver
            android:name="be.ppareit.swiftp.NsdService$StartStopReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="be.ppareit.swiftp.FTPSERVER_STARTED" />
                <action android:name="be.ppareit.swiftp.FTPSERVER_STOPPED" />
            </intent-filter>
        </receiver>

        <service android:name="org.fourthline.cling.android.AndroidUpnpServiceImpl"/>
    </application>

</manifest>
