<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kreal.wallpaper">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_photo_album_24dp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<service-->
            <!--android:name=".SwitchWapper"-->
            <!--android:enabled="true"-->
            <!--android:exported="true" />-->

        <receiver android:name=".NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <service
            android:name=".SwitchWallpaper"
            android:exported="false" />

        <receiver
            android:name=".OpenReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <service
            android:name=".RecevierKeeper"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>