<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kreal.ftpserver">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/example_picture"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN" />-->


             <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--</intent-filter>-->
        </activity>

        <service android:name=".FtpServerCC" />

        <receiver
            android:name=".RequestStartStopReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="org.kreal.FtpServer.ACTION_START_FTPSERVER" />
                <action android:name="org.kreal.FtpServer.ACTION_STOP_FTPSERVER" />
                <action android:name="org.kreal.FtpServer.ACTION_PAUSE_FTPSERVER" />
                <action android:name="org.kreal.FtpServer.ACTION_RESUME_FTPSERVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.kreal.FtpServer.FTPSERVER_STARTED" />
                <action android:name="org.kreal.FtpServer.FTPSERVER_STOPED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.kreal.FtpServer.FTPSERVER_STARTED" />
                <action android:name="org.kreal.FtpServer.FTPSERVER_STOPED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>
    </application>

</manifest>